body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}

/* COMMON STYLES*/
.view-content h1 {
    color: #42454a;
    font-size: 1.8em;
}

.view-content h1.welcome {
    text-align: center;
}

.view-content h3 {
    color: #42454a;
    font-size: 1.1em;
}

.view-content p {
    color: #4a4e54;
    font-size: 1em;
}

.position-left {
    float: left;
}

.position-right {
    float: right;
}

.position.center {
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

/* DEVICE SPECIFIC STYLES*/

.km-ios .km-listview-wrapper .km-listinset li {
    background-color: #fff;
    border-color: #ababab;
}

.km-ios .km-view .km-content {
    background-image: none;
    background: #f0f0f0;
}

.km-tablet .km-ios .km-navbar .km-view-title {
    color: #000;
    text-shadow: 0 -1px rgba(255,255,255,0.3);
}

.km-android .view-content h1 {
    color: #8a8b8f;
}

.km-android .view-content p,
.km-android .view-content h3 {
    color: #2e5968;
}

.km-flat .km-list > li {
    box-shadow: none;
}

.km-ios .km-list > li,
.km-flat .km-list > li {
    background: none;
    border: none;
}

/* Separator Style*/
.separator > .dark {
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.2)), color-stop(50%,rgba(0,0,0,0.2)), color-stop(70%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
    height: 1px;
    border: none;
    width: 100%;
    opacity: 0.3;
}

.separator > .light {
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    height: 1px;
    border: none;
    width: 100%;
    opacity: 0.3;
}


/* Display android title */
.km-android .km-navbar .km-view-title /* After Q2 2012 SP1 */
{
    visibility: visible;   
}

/*NEWS & EVENTS */

div.events-title,
div.news-title {
    margin: 0.6em 0.8em 0.2em 0.9em;
    font-size: 1.3em;
}

div.event-item,
li.news-item {
    padding:0px;
    margin:0px;
    font-size:1em;
}

ul#pull-eventslistview li,
ul#pull-newslistview li {
    padding: .4em .2em;
    
}

div.news-item a,
div.event-item a {
    font-weight:normal;
    text-decoration: none;
}


div.event-field,
div.news-field
 {
    padding: 0.4em 0.6em;
    font-size: 1em;
}

div.news-title {
    padding: 1.2em 0.2em 0.4em 0.2em;
    margin: 0;
    font-size: 1.3em;
}

div#event-detail p,
div#news-detail p {
    
    margin-left:0px;
    margin-right:0px;
}

div.event-field-label,
div.news-field-label {
    border-bottom: 1px solid;
    padding-bottom:2px;
}

div.event-field-data,
div.news-field-data {
    padding-top:2px;
}

div.event-category div.event-field-label,
div.news-category div.news-field-label {
    display:none;
}

div.event-category div.event-field-data,
div.news-category div.news-field-data {
    color: #F0F8FF;
}

div.event-item span.event-title,
div.event-item span.event-date,
div.news-item span.news-title {
    
    padding-right: 16px;
    display:block;
}

div.event-item span.event-link,
div.news-item span.news-link {
    padding-right:0;
    margin-right:0;
}

/* news/event image */

#pull-eventslistview .event-image,
#pull-newslistview .news-image {
        width: 4em;
        height: 4.4em;
        margin: 0.5em 0;
        border: 1px solid rgba(0,0,0,.2);
        /*-webkit-border-radius: 4em;*/
        /*border-radius: 4em;*/
        display: inline-block;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-transform: translatez(0);
        vertical-align: top;
    }

#pull-eventslistview div.event-text,
#pull-newslistview div.news-text {
        display: inline-block;
        margin: .5em;
        font-size: 0.8em;
        width: 12em;
    }
    
    .km-android #hierarchical-listview .parent:after {
        display: inline-block;
        border-color: #ffffff;
    }
    .km-wp8 #hierarchical-listview .parent:after {
        display: inline-block;
        border-color: #000000;
    }

div.event-img img,
div.news-img img {
    margin:1em;
    padding:0em;
    border: 1px solid;
    
    display: block;
        height: 230px;
        /*background: url(../../content/mobile/shared/titanic1.jpg) no-repeat center center;*/
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        margin: 1em auto;
    
}

/* MESSAGES */

div.offlineMessage {
    display:none;
}

.message{
		/*
		 border: 1px solid;
		 color: #fff;
		 padding: 5px;
		 margin-bottom: 1em;
    */
    background-size: 40px 40px;
		background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);										
		 box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
		 width: 100%;
		 border: 1px solid;
		 color: #fff;
		 padding: 5px;
		 /*position: fixed;*/
		 /*_position: absolute;*/
		 text-shadow: 0 1px 0 rgba(0,0,0,.5);
		 /*animation: animate-bg 5s linear infinite;*/
    /*margin-bottom: 1em;*/
    
}

.info{
		 /*background-color: #4ea5cd;*/
		 border-color: #3b8eb5;
}

.error{
		 background-color: #de4343;
		 border-color: #c43d3d;
}
		 
.warning{
		 background-color: #eaaf51;
		 border-color: #d99a36;
}

.success{
		 background-color: #61b832;
		 border-color: #55a12c;
}

/*.km-root */
.itemUnavailable,
.km-android .km-list .itemUnavailable .km-icon {
    color: grey!important;
    
}
.itemUnavailable a {
	cursor: default;   
}

.message h3{
		 margin: 0 0 5px 0;													 
}


/* ICONS */

.km-cal:after,
.km-cal:before
{
    content: "\e089";
}

.km-justify:after,
.km-justify:before
{
    content: "\e0f1";
}

/*try font awesome */
.fa .km-icon:after,
.fa .km-icon:before
{
    font: 1em/1em 'FontAwesome';
}

.fa {
    font-family: helvetica;
}

/*try twitter */
.km-twitter:after,
.km-twitter:before {
  content: "\F099";
}

/* settings */

ul#settingsOptions li.info {
    font-size: 1em;
    line-height: normal;
    margin-left: 0.2rem;
	margin-right: 0.2rem;
    color:#2e5968;
}

.tweet-text {
    cursor:pointer;
}