<script type="text/x-kendo-tmpl" id="buildings-template">
        <div class="building-item">

                <div class="building-text">
                    <a data-role="button" href="\#tabstrip-location?contentId=#:id#&amp;category=building" data-icon="zone" style="color:#:Colour#"><span style="color:\#4c5356" class="building-title">#:DisplayName#</span></a>
    				
                </div>
               
                <a class="event-link" href="\#tabstrip-location?contentId=#:id#&amp;category=building" data-role="detailbutton" data-style="detaildisclose" data-contentId="#:id#"></a>
 
        </div>
    </script>