    <script type="text/x-kendo-tmpl" id="friendface-template">
        <div class="post-item">
                <div class="post-text">
                    <span class="post-title">#:message#</span>
        			<br/>
        			<span class="post-time">#:created#</span>
                </div>
        		<a class="post-link" onClick="window.open('http://www.facebook.com/unibirmingham/posts/#:object_id#', '_system')" data-role="detailbutton" data-style="detaildisclose"></a>
        </div>
    </script>
